app/core/language/__pycache__/
app/core/nlu/__pycache__/
app/core/summarizer/__pycache__/
app/data/castle.txt
app/data/countingstars.txt
app/.ipynb_checkpoints/test-checkpoint.ipynb
app/test.ipynb
research_papers/plan_and_write.pdf
app/.ipynb_checkpoints/test2-checkpoint.ipynb
app/test2.ipynb
app/__pycache__/__init__.cpython-36.pyc
app/__pycache__/
app/genius/__pycache__/
app/.env
app/test.py

